#QEContainers {
    display: flex;
    width: 100%;
}
.group-container {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
}
.group-legend {
    width: auto;
    margin: 0 auto;
}

.actor-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.center-container {
    width: 50%;
}

.results-detail {
    max-height: 300px;
     overflow: auto;
     display: flex;
}

.results-hidden {
     display: none;
}



.group-field {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.actor-container {
    opacity: 1;
    position: relative;
    margin: 0 auto;
}
.actor-portrait {
    width: 50px;
    height: 50px;
}
.actor-subtract {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
.actor-container:hover .actor-portrait {
    opacity: 0.3;
}
.actor-container:hover .actor-subtract {
    opacity: 0.8;
}
.difficulty-rating {
    margin: 0 auto;
    text-align: left;
}
.difficulty-threshold {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.daily-budget {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10%;
}

#CSXP {
    position: relative;
    display: flex;
    height: auto;
    width: 100%;
}
#CSXP .scores {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.submit{
    position: absolute;
    margin-top: 5%;
    width: 15%;
    height: 45%;
    text-align: center;
    transform: translate(550%, 0%);
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
