<div id="QuickEncountersTutorial">
    <h1>Welcome to {{localize "QE.Name"}} {{localize "QE.Version"}}</h1>
    <p>If you're seeing this message, it's because you clicked on the Quick Encounters button <img src="modules\quick-encounters\img\fist.png" alt="" width="30" height="30" /> and either:</p>
    <ol>
    <li>You didn't have any Neutral or Hostile tokens selected OR</li>
    <li>You didn't have an open Journal Entry with Actor links in it</li>
    </ol>
    <p>But don't worry, we'll explain everything!</p>
    <h2>How to use Quick Encounters</h2>
    <p>Keep this Journal Entry open and follow along!</p>
    <h3>Method 1</h3>
    <ol>
        <li>Drag your Hostile tokens to the Scene map (either by moving existing tokens, or dragging Actors)&nbsp;</li>
        <li>Select the tokens you want to use in the Quick Encounter
        <ul>
        <li>If you want, change their visibility by right-clicking and tapping the Toggle Visibility option</li>
        </ul>
        </li>
        <li>Press the&nbsp; Quick Encounters "fist" button (in the left control bar).</li>
        <li>You'll see a new Quick Encounter Journal Entry open with Actor links representing your tokens.
        <ul>
        <li>If you want, add descriptive text to read when you run this Encounter</li>
        <li>You might also pick a folder for this Journal Entry (especially if you have a folder per Scene)</li>
        <li>Notice that your tokens have disappeared off the map! Don't worry, their positions have been saved in the Journal Entry</li>
        </ul>
        </li>
        <li>Close the Journal Entry and you will see a Quick Encounter Map Note dialog. Change the title, font-size, and icon if you want.</li>
        <li>Press the <strong>Save Map Note</strong> button to automatically place a single map pin on the Scene map close to where the tokens were
        <ul>
        <li>(If you accidentally Close the Map Note it won't be saved, but you can just drag the Quick Encounter Journal Entry to the map to re-create the Map Note)</li>
        </ul>
        </li>
        <li>To run your Quick Encounter, simply double-click the map pin to open the Quick Encounter Journal Entry</li>
        <li>Then click the embedded<strong> Add to Combat Tracker</strong> button; all your saved tokens will be positioned on the map and added to the Combat Tracker, ready to fight!
        <ul>
        <li>You can also click the Quick Encounter "fist" button instead of the embedded button</li>
        </ul>
        </li>
        </ol>
        <p><strong>Method 1</strong> duplicates the "Encounter" functionality available in <a href="fantasygrounds.com" target="_blank" rel="noopener">Fantasy Grounds</a>.</p>
        <p>&nbsp;</p>
        <h3>Method 2</h3>
    <ol>
        <li>Create a Journal Entry and describe your Encounter or open an existing Journal Entry (like the ones you'd find in a purchased module).</li>
        <li>Drag Actors into your Journal Entry (you can put a number in front of the Actor link to get multiple of them)</li>
        <li>Close the Journal Entry</li>
        <li>Go to the Journals list, find the Quick Encounter Journal Entry and drag it to the Scene map at the encounter position.</li>
        <li>To run your Quick Encounter, simply double-click the map pin to open the Quick Encounter Journal Entry.</li>
        <li>Then click the Quick Encounter button: your saved tokens will be positioned around the map note, and added to the Combat Tracker, ready to fight!
    <ul>
    <li>In this method, your tokens are always Invisible when added to the map</li>
    </ul>
    </li>
    </ol>
    <p>&nbsp;</p>
    <h2>What Now?</h2>
    <p>You can just close this Journal Entry as is and it will be deleted automagically!</p>
    <p>Or you can delete all this text and turn it into your first Quick Encounter Journal Entry by following Method 2 above. Good luck!</p>
</div>
