<form>
    <div id="QEContainers">
        {{#unless isFromCompendium}}
            <header>{{{localize 'QE.QuickEncounterDialog.INTRO'}}}</header>
        {{else}}
            <header>{{{localize 'QE.QuickEncounterDialog.INTRO_COMPENDIUM'}}}</header>
        {{/unless}}
        <hr>
        <div class="flexcol">
            {{#each combatants}}
                <div class="flexrow">
                    <div class="actor-container">
                        <img class="actor-portrait" src="{{this.img}}" title="{{localize 'QE.QuickEncounterDialog.Remove' name=this.actorName}}" id="{{this.rowNum}}" />
                        <div class="actor-subtract">
                            <i class="fas fa-minus" title="{{localize 'QE.QuickEncounterDialog.Remove' name=this.actorName}}" id="{{this.rowNum}}"></i>
                        </div>                            
                    </div>
                    <div class="flexcol">
                        <div class="flexrow">
                            <input type="String" name="{{this.rowNum}}" class="num-actors" id="{{this.actorId}}" value={{this.numActors}} {{#if @root/isFromCompendium}}disabled{{/if}}>
                            x {{this.actorName}} {{this.xp}}
                        </div>
                        {{#unless @root/isFromCompendium}}
                        <div class="flexrow">
                            {{#each this.tokens}}
                                <input type="checkbox" {{#if this.isSavedToken}}{{checked}}{{/if}} disabled>
                            {{/each}}
                        </div>
                        {{/unless}}
                    </div>
                </div>
            {{/each}}
            {{#each tilesData}}
                <div class="flexrow">
                    <div class="tile-container">
                        <img class='actor-portrait' title="{{localize 'QE.QuickEncounterDialog.Remove'  name=''}}" src="{{this.img}}" id="{{@index}}"/>
                        <div class="actor-subtract">
                            <i class="fas fa-minus" title="{{localize 'QE.QuickEncounterDialog.Remove' name=''}}" id="{{@index}}"></i>
                        </div>
                    </div>
                    <div class="flexrow">
                        <span>{{this.img}}</span>
                    </div>
                </div>
            {{/each}}
        </div>
        {{{totalXPLine}}}<br>
        {{#unless isFromCompendium}}
            <div class="flexrow">
                <button type="button" name="addToCombatTracker"><i class="fas fa-fist-raised"></i>
                    {{localize 'QE.AddToCombatTracker.BUTTON'}}
                </button>
                <button type="submit" name="save">
                    {{localize 'QE.QuickEncounterDialog.Save.BUTTON'}}
                </button>
            </div>
        {{/unless}}
    </div>
</form>
