<form>
    <div id="QEContainers">
        <div class="flexcol">
            {{#each combatants}}
                <p>{{this.num}}x {{this.actorName}} {{this.xp}}</p>
                <div>
                    <img class='actor-portrait' src="{{this.img}}" title="{{this.actorName}}" id="{{this.id}}"/>
                    {{#each this.tokens}}
                        <input type="checkbox">
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
</form>
